<% include header %>
                    <section id="content" class="content layout-lm nopos-nopos-breadcrumb block">						
                    <div class="yt-main">
							<div class="yt-main-in1 container">
								<div class="yt-main-in2 row-fluid">
        							<% include content_left %>
        							<%-body%>
        					      </div>
							</div>
						</div>         
                    </section>
<% include footer %>