<section class="block pattern_1" id="yt_spotlight5">						<div class="yt-main">
							<div class="yt-main-in1 container">
								<div class="yt-main-in2 row-fluid">
										<div class="span3" id="position-10" style="height: 233px;">
			<!--<div class="yt-position-inner">-->
				    	<div class="module open-hours blank">
	    
	    			<!--<div class="wrap-title">-->
				<h3 class="modtitle">ยินดีให้บริการเวลา</h3>
			<!--</div>-->
	    	    <div class="modcontent clearfix">
		

<p><span class="block-desc">โทรศัพท์สอบถามข้อมูลหรือสั่งซื้อสินค้ามี คำถาม แจ้งปัญหา ในเวลาทำการ</span></p>
<ul>
<li><a href="#">จันทร์ ถึง ศุกร์ - 9.00 น. to 22.00 น.</a></li>
<li><a href="#">สาร์ - 10.00 น. ถึง 18.00 น.</a></li>
<li><a href="#">อาทิตย์ - 10.00 น. ถึง 18.00 น.</a></li>
</ul>
	    </div>
		
	   
	</div>
    
			<!--</div>-->
		</div>
				<div class="span2" id="position-11" style="height: 233px;">
			<!--<div class="yt-position-inner">-->
				    	<div class="module choose-us blank">
	    
	    			<!--<div class="wrap-title">-->
				<h3 class="modtitle">แผนกบริการลูกค้า</h3>
			<!--</div>-->
	    	    <div class="modcontent clearfix">
		

<ul>
<li><a href="#">คำถามที่พบบ่อย</a></li>
<li><a href="#">การรับประกันสินค้า</a></li>
<li><a href="#">การส่งคืนสินค้า</a></li>
<li><a href="#">ติดตามสถานะการสั่งซื้อ</a></li>
<li><a href="/contact-us-2.html">ติดต่อเรา</a></li>
</ul>
	    </div>
		
	   
	</div>
    
			<!--</div>-->
		</div>
				<div class="span4" id="position-12" style="height: 233px;">
			<!--<div class="yt-position-inner">-->
				    	<div class="module contact-us blank">
	    
	    			<!--<div class="wrap-title">-->
				<h3 class="modtitle">ช่องทางติดต่อเรา</h3>
			<!--</div>-->
	    	    <div class="modcontent clearfix">
		

<ul>
<li><span class="address-contact">800/337 นวมินทร์ 86 คันนายาว กทม. 10230</span></li>
<li><span class="mobi-contact"> <span>+ 6681 - 5464 - 879 </span> <span>+ 662 - 944 - 8416</span> </span></li>
<li class="email-contact">
 <script type='text/javascript'>
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy31386 = 'd&#101;&#101;n&#97;j&#97;c&#111;m' + '&#64;';
 addy31386 = addy31386 + 'gm&#97;&#105;l' + '&#46;' + 'c&#111;m';
 var addy_text31386 = 'd&#101;&#101;n&#97;j&#97;c&#111;m' + '&#64;' + 'gm&#97;&#105;l' + '&#46;' + 'c&#111;m';
 document.write('<a ' + path + '\'' + prefix + ':' + addy31386 + '\'>');
 document.write(addy_text31386);
 document.write('</a<\/a>');
 //-->\n </script><script type='text/javascript'>
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script>This email address is being protected from spambots. You need JavaScript enabled to view it.
 <script type='text/javascript'>
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></li>
</ul>
	    </div>
		
	   
	</div>
    
			<!--</div>-->
		</div>
				<div id="position-13" class="span3">
			<!--<div class="yt-position-inner">-->
				    	<div class="module social blank">
	    
	    			<!--<div class="wrap-title">-->
				<h3 class="modtitle">ชุมชนของเรา</h3>
			<!--</div>-->
	    	    <div class="modcontent clearfix">
		

<ul class="clearfix">
<li><a class="logo-twitter logo-item" href="http://twitter.com/smartaddons" target="blank"><span class="harrow"><span class="farrow">twitter</span></span></a></li>
<li><a class="logo-facebook logo-item" href="https://www.facebook.com/SmartAddons.page" target="blank"><span class="harrow"><span class="farrow">facebook</span></span></a></li>
<li><a class="dribbble logo-item" href="http://dribbble.com/" target="blank"><span class="harrow"><span class="farrow">dribbble</span></span></a></li>
<li><a class="logo-flick logo-item" href="http://www.flickr.com" target="blank"><span class="harrow"><span class="farrow">flick</span></span></a></li>
</ul>
<div class="logo-payment"> </div>
	    </div>
		
	   
	</div>
    
			<!--</div>-->
		</div>
										</div>
							</div>
						</div>
                    </section>			<footer id="yt_footer" class="block">						<div class="yt-main">
							<div class="yt-main-in1 container">
								<div class="yt-main-in2 row-fluid">
										<div id="yt_copyrightposition" class="span12">
			        <!-- 
        You CAN NOT remove (or unreadable) those links without permission. Removing the link and template sponsor Please visit smartaddons.com or contact with e-mail (contact@ytcvn.com) If you don't want to link back to smartaddons.com, you can always pay a link removal donation. This will allow you to use the template link free on one domain name. Also, kindly send me the site's url so I can include it on my list of verified users. 
        -->
        <div class="footer1">Copyright &#169; 2013 deenaja.com. All Rights Reserved.  Designed by <a target="_blank" title="Visit SmartAddons!" href="http://www.smartaddons.com/">SmartAddons.Com</a></div>
        <div class="footer2"><a href="http://www.joomla.org">Joomla!</a> is Free Software released under the <a href="http://www.gnu.org/licenses/gpl-2.0.html">GNU General Public License.</a></div>
                </div>
										</div>
							</div>
						</div>
                    </footer>			        <script type="text/javascript">
	jQuery(document).ready(function($){  
		/* Begin: add class pattern for element */
		var headerbgimage = 'pattern_1';
		var footerbgimage = '';
		var spotlight5bgimage = 'pattern_1';
		var bodybgimage = 'pattern_5';
		if(headerbgimage){
			$('#yt_header').addClass(headerbgimage);
			$('#yt_slideshow').addClass(headerbgimage);
		}
		/*
		if(footerbgimage){
			$('#yt_footer').addClass(footerbgimage);
			$('#yt_spotlight2').addClass(footerbgimage);
		}
		*/
		
		if(spotlight5bgimage){
			$('#yt_spotlight5').addClass(spotlight5bgimage);
		}
		if(bodybgimage){
			$('#bd').addClass(bodybgimage);
		}
		
		/* End: add class pattern for element */
	});
</script>
<a id="yt-totop" href="#">Scroll to top</a>
<script type="text/javascript">
	jQuery(function($){
		// back to top
		$("#yt-totop").hide();
		$(function () {
			var wh = $(window).height();
			var whtml =  $(document).height();
			$(window).scroll(function () {
				if ($(this).scrollTop() > whtml/10) {
					$('#yt-totop').fadeIn();
				} else {
					$('#yt-totop').fadeOut();
				}
			});
			$('#yt-totop').click(function () {
				$('body,html').animate({
					scrollTop: 0
				}, 800);
				return false;
			});
		});
		// end back to top
	});
</script>	</section>
</body>
</html>              
                    