<div id="content_left" class="span3">
        							<div class="content-left-in row-fluid">		
        							<div id="position-2" class="span12">
			<!--<div class="yt-position-inner">-->
				    	<div class="module news1 bg-title">
	    
	    			<!--<div class="wrap-title">-->
				<h3 class="modtitle">Categories</h3>
			<!--</div>-->
	    	    <div class="modcontent clearfix">
		
<ul class="menu _menu">
<li class="item-688"><a href="/paris-gateaux.html">Paris Gateaux</a></li><li class="item-689"><a href="/fruits-cake.html">Fruits Cake</a></li><li class="item-687"><a href="/valentine-cake.html">Valentine Cake</a></li><li class="item-685"><a href="/birtday-cake.html">Birthday Cake</a></li><li class="item-686"><a href="/christmas-cake.html">Christmas Cake</a></li><li class="item-690"><a href="/wedding-cake.html">Wedding Cake</a></li><li class="item-691"><span class="separator">Sweet Treats</span>
</li><li class="item-692"><span class="separator">Specialty Cake</span>
</li></ul>
	    </div>
		
	   
	</div>
        	<div class="module news1 bg-title">
	    
	    			<!--<div class="wrap-title">-->
				<h3 class="modtitle">Lastest News</h3>
			<!--</div>-->
	    	    <div class="modcontent clearfix">
				<div id="sj_basic_news_1387726620516758519" class="sj-basic-news">
		<div class="bs-items">
						<div class="bs-item cf  bs-show-line ">
								<div class="bs-content">
										<div class="bs-title">
						<a href="/consectetuer-adipiscing-elitelue.html" title="Aris paki capu">
							Aris paki capu						</a>
					</div>
															<div class="bs-cat-date">
																		<span class="bs-date">26 May 2011</span>
											</div>
															<div class="bs-description">
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam ...						
												<div class="bs-readmore">
							<a href="/consectetuer-adipiscing-elitelue.html" title="Aris paki capu">
								Read more +							</a>
						</div>
											</div>
										
					
				</div>
			</div>
						<div class="bs-item cf  bs-show-line ">
								<div class="bs-content">
										<div class="bs-title">
						<a href="/curabitur-a-lectus-vitae-elit.html" title="Bener senver cans">
							Bener senver cans						</a>
					</div>
															<div class="bs-cat-date">
																		<span class="bs-date">26 May 2011</span>
											</div>
															<div class="bs-description">
						Zute disse at libero porttitor nisi aliquet vulputate vitae at velit. Aliquam eget arcu magna, vel ...						
												<div class="bs-readmore">
							<a href="/curabitur-a-lectus-vitae-elit.html" title="Bener senver cans">
								Read more +							</a>
						</div>
											</div>
										
					
				</div>
			</div>
						<div class="bs-item cf  bs-show-line  last">
								<div class="bs-content">
										<div class="bs-title">
						<a href="/enkis-enka-pazine.html" title="Detus lapi tuka">
							Detus lapi tuka						</a>
					</div>
															<div class="bs-cat-date">
																		<span class="bs-date">26 May 2011</span>
											</div>
															<div class="bs-description">
						Suspendisse at libero porttitor nisi aliquet vulputate vitae at velit. Aliquam eget arcu magna, vel ...						
												<div class="bs-readmore">
							<a href="/enkis-enka-pazine.html" title="Detus lapi tuka">
								Read more +							</a>
						</div>
											</div>
										
					
				</div>
			</div>
					</div>
	</div>
	

	    </div>
		
	   
	</div>
        	<div class="module exclusive">
	    
	    	    <div class="modcontent clearfix">
		

<div>
Exclusive Email Offers
</div>
<div>
Get exclusive Millennium &amp; Copthorne offers delivered right to your inbox
</div>
<div class="box">
<input type="text" placeholder="Your email">
<input type="button" value="">
</div>
	    </div>
		
	   
	</div>
        	<div class="module">
	    
	    	    <div class="modcontent clearfix">
		<div class="bannergroup">

	<div class="banneritem">
																																																															<a href="/component/banners/click/6.html" target="_blank" title="SJ Barkery">
							<img src="http://deenaja.com/images/banners/bakery.png" alt="SJ Barkery">
						</a>
																<div class="clr"></div>
	</div>

</div>
	    </div>
		
	   
	</div>
    
			<!--</div>-->
		</div>
		</div></div>