<div id="content_main" class="span9">
        							<div class="content-main-inner row-fluid">        	
        							<div class="span12">	
<div id="system-message-container">
</div>
            </div>
          		<div id="position-3" class="span12">
			<!--<div class="yt-position-inner">-->
				    	<div class="module">
	    
	    	    <div class="modcontent clearfix">
		    <div id="sjextraslider_10956147921387726620" class="sj-extraslider slide preset02-3" data-pause="hover">
		 
                    <div class="heading-title">Best Sales</div><!--end heading-title-->
        		    
    	<div class="extraslider-control  ">
		    		    <ul class="nav-page">
		    		    		<li class="page">
		    			<a class="button-page" href="#sjextraslider_10956147921387726620" data-jslide="0"></a>
		    		</li>
	    				    		<li class="page">
		    			<a class="button-page" href="#sjextraslider_10956147921387726620" data-jslide="1"></a>
		    		</li>
	    				    		<li class="page">
		    			<a class="button-page sel" href="#sjextraslider_10956147921387726620" data-jslide="2"></a>
		    		</li>
	    				    </ul>
		    	    </div>
	    <div class="extraslider-inner">
	                            <div class="item">
                                            <div class="line">
                  
                
				    <div class="item-wrap style2 ">
						<div class="item-wrap-inner">
							<div class="item-image">
								<a href="/virtuemart/categories-layout/product-items-three-columns/fate-rinus-late-detail.html">
									<span class="item-image">
										<span class="border-img"></span>
										<span class="zoom-img"></span>
										<img src="/cache/mod_sj_vm_extraslider_res/60136236b8d4860f331a0ae4e63c2cd0.jpeg" alt="Fate rinus late" title="Fate rinus late">
									</span>
								</a>
							</div>
													<div class="item-info">
															<div class="item-title">
									<a href="/virtuemart/categories-layout/product-items-three-columns/fate-rinus-late-detail.html">
										Fate rinus late									</a>
								</div>
																						<div class="item-content">
																			<div class="item-description">
											Nulla semper ac nec sit massa In Curabitur id risus sit. Non ante gravida eros ...                                
										</div>
																		
																					<div class="item-price">
												<div class="PricesalesPrice">
													Price: <div class="PricesalesPrice" style="display : block;"><span class="PricesalesPrice">38,72 €</span></div>												</div>
											</div>
										                             
									
									<div class="addtocard-readmore">
																					<div class="item-readmore">
												<a class="button1" href="/virtuemart/categories-layout/product-items-three-columns/fate-rinus-late-detail.html" target="_self">
													View												</a>                                
											</div> 
																			
										
										<div class="addtocart-area">
											<form method="post" class="product js-recalculate" action="/">
																						
												<div class="addtocart-bar">
										
																																									<span class="addtocart-button">
															<input type="submit" name="addtocart" class="addtocart-button" rel="nofollow" value="Add to Cart" title="Add to Cart">														</span>
													
																							
													<div class="clear"></div>
												</div>
																								 
												<input type="hidden" name="quantity[]" value="1">
												<input type="hidden" class="pname" value="Fate rinus late">
												<input type="hidden" name="option" value="com_virtuemart">
												<input type="hidden" name="view" value="cart">
												<noscript>&lt;input type="hidden" name="task" value="add"/&gt;</noscript>
												<input type="hidden" name="virtuemart_product_id[]" value="17">
											</form>
										
											<div class="clear"></div>
										</div><!--end add to card-->
									
									
									</div>
								</div>
														</div>
												</div>
				    </div>                
                 
                		    		
            	                                  
                
				    <div class="item-wrap style2 ">
						<div class="item-wrap-inner">
							<div class="item-image">
								<a href="/virtuemart/categories-layout/product-items-three-columns/tika-chakin-zase-detail.html">
									<span class="item-image">
										<span class="border-img"></span>
										<span class="zoom-img"></span>
										<img src="/cache/mod_sj_vm_extraslider_res/9ff5c9666531454e9004c03867dd977b.jpeg" alt="Tika chakin zase" title="Tika chakin zase">
									</span>
								</a>
							</div>
													<div class="item-info">
															<div class="item-title">
									<a href="/virtuemart/categories-layout/product-items-three-columns/tika-chakin-zase-detail.html">
										Tika chakin zase									</a>
								</div>
																						<div class="item-content">
																			<div class="item-description">
											Kean pharetra faucibus eu laoreet nunc. Tincidunt nulla a Nulla eu convallis ...                                
										</div>
																		
																					<div class="item-price">
												<div class="PricesalesPrice">
													Price: <div class="PricesalesPrice" style="display : block;"><span class="PricesalesPrice">90,75 €</span></div>												</div>
											</div>
										                             
									
									<div class="addtocard-readmore">
																					<div class="item-readmore">
												<a class="button1" href="/virtuemart/categories-layout/product-items-three-columns/tika-chakin-zase-detail.html" target="_self">
													View												</a>                                
											</div> 
																			
										
										<div class="addtocart-area">
											<form method="post" class="product js-recalculate" action="/">
																						
												<div class="addtocart-bar">
										
																																									<span class="addtocart-button">
															<input type="submit" name="addtocart" class="addtocart-button" rel="nofollow" value="Add to Cart" title="Add to Cart">														</span>
													
																							
													<div class="clear"></div>
												</div>
																								 
												<input type="hidden" name="quantity[]" value="1">
												<input type="hidden" class="pname" value="Tika chakin zase">
												<input type="hidden" name="option" value="com_virtuemart">
												<input type="hidden" name="view" value="cart">
												<noscript>&lt;input type="hidden" name="task" value="add"/&gt;</noscript>
												<input type="hidden" name="virtuemart_product_id[]" value="18">
											</form>
										
											<div class="clear"></div>
										</div><!--end add to card-->
									
									
									</div>
								</div>
														</div>
												</div>
				    </div>                
                 
                		    		
            	                                  
                
				    <div class="item-wrap style2 last ">
						<div class="item-wrap-inner">
							<div class="item-image">
								<a href="/virtuemart/categories-layout/product-items-three-columns/pite-ruka-case-detail.html">
									<span class="item-image">
										<span class="border-img"></span>
										<span class="zoom-img"></span>
										<img src="/cache/mod_sj_vm_extraslider_res/1627f684bc06e35775730df526daaa33.jpeg" alt="Pite ruka case" title="Pite ruka case">
									</span>
								</a>
							</div>
													<div class="item-info">
															<div class="item-title">
									<a href="/virtuemart/categories-layout/product-items-three-columns/pite-ruka-case-detail.html">
										Pite ruka case									</a>
								</div>
																						<div class="item-content">
																			<div class="item-description">
											Pitur id risus sit. Non ante gravida eros quis justo sed nonummy et Donec et. ...                                
										</div>
																		
																					<div class="item-price">
												<div class="PricesalesPrice">
													Price: <div class="PricesalesPrice" style="display : block;"><span class="PricesalesPrice">104,06 €</span></div>												</div>
											</div>
										                             
									
									<div class="addtocard-readmore">
																					<div class="item-readmore">
												<a class="button1" href="/virtuemart/categories-layout/product-items-three-columns/pite-ruka-case-detail.html" target="_self">
													View												</a>                                
											</div> 
																			
										
										<div class="addtocart-area">
											<form method="post" class="product js-recalculate" action="/">
																						
												<div class="addtocart-bar">
										
																																									<span class="addtocart-button">
															<input type="submit" name="addtocart" class="addtocart-button" rel="nofollow" value="Add to Cart" title="Add to Cart">														</span>
													
																							
													<div class="clear"></div>
												</div>
																								 
												<input type="hidden" name="quantity[]" value="1">
												<input type="hidden" class="pname" value="Pite ruka case">
												<input type="hidden" name="option" value="com_virtuemart">
												<input type="hidden" name="view" value="cart">
												<noscript>&lt;input type="hidden" name="task" value="add"/&gt;</noscript>
												<input type="hidden" name="virtuemart_product_id[]" value="19">
											</form>
										
											<div class="clear"></div>
										</div><!--end add to card-->
									
									
									</div>
								</div>
														</div>
												</div>
				    </div>                
                 
                    
                </div><!--line-->
                		    		
                
            </div><!--end item--> 
            	                            <div class="item">
                                            <div class="line">
                  
                
				    <div class="item-wrap style2 ">
						<div class="item-wrap-inner">
							<div class="item-image">
								<a href="/virtuemart/categories-layout/product-items-three-columns/rika-lasi-capo-detail.html">
									<span class="item-image">
										<span class="border-img"></span>
										<span class="zoom-img"></span>
										<img src="/cache/mod_sj_vm_extraslider_res/6062d84030e883311844624348538741.jpeg" alt="Rika lasi capo" title="Rika lasi capo">
									</span>
								</a>
							</div>
													<div class="item-info">
															<div class="item-title">
									<a href="/virtuemart/categories-layout/product-items-three-columns/rika-lasi-capo-detail.html">
										Rika lasi capo									</a>
								</div>
																						<div class="item-content">
																			<div class="item-description">
											Fristique hac ullamcorper adipiscing et Donec. Enim montes parturient.
Semper ...                                
										</div>
																		
																					<div class="item-price">
												<div class="PricesalesPrice">
													Price: <div class="PricesalesPrice" style="display : block;"><span class="PricesalesPrice">107,69 €</span></div>												</div>
											</div>
										                             
									
									<div class="addtocard-readmore">
																					<div class="item-readmore">
												<a class="button1" href="/virtuemart/categories-layout/product-items-three-columns/rika-lasi-capo-detail.html" target="_self">
													View												</a>                                
											</div> 
																			
										
										<div class="addtocart-area">
											<form method="post" class="product js-recalculate" action="/">
																						
												<div class="addtocart-bar">
										
																																									<span class="addtocart-button">
															<input type="submit" name="addtocart" class="addtocart-button" rel="nofollow" value="Add to Cart" title="Add to Cart">														</span>
													
																							
													<div class="clear"></div>
												</div>
																								 
												<input type="hidden" name="quantity[]" value="1">
												<input type="hidden" class="pname" value="Rika lasi capo">
												<input type="hidden" name="option" value="com_virtuemart">
												<input type="hidden" name="view" value="cart">
												<noscript>&lt;input type="hidden" name="task" value="add"/&gt;</noscript>
												<input type="hidden" name="virtuemart_product_id[]" value="20">
											</form>
										
											<div class="clear"></div>
										</div><!--end add to card-->
									
									
									</div>
								</div>
														</div>
												</div>
				    </div>                
                 
                		    		
            	                                  
                
				    <div class="item-wrap style2 ">
						<div class="item-wrap-inner">
							<div class="item-image">
								<a href="/virtuemart/categories-layout/product-items-three-columns/huka-laze-xitun-detail.html">
									<span class="item-image">
										<span class="border-img"></span>
										<span class="zoom-img"></span>
										<img src="/cache/mod_sj_vm_extraslider_res/fa87bf30ad0002526c540498b98f0aa0.jpeg" alt="Huka laze xitun" title="Huka laze xitun">
									</span>
								</a>
							</div>
													<div class="item-info">
															<div class="item-title">
									<a href="/virtuemart/categories-layout/product-items-three-columns/huka-laze-xitun-detail.html">
										Huka laze xitun									</a>
								</div>
																						<div class="item-content">
																			<div class="item-description">
											Naretra faucibus eu laoreet nunc. Tincidunt nulla a Nulla eu convallis ...                                
										</div>
																		
																					<div class="item-price">
												<div class="PricesalesPrice">
													Price: <div class="PricesalesPrice" style="display : block;"><span class="PricesalesPrice">104,06 €</span></div>												</div>
											</div>
										                             
									
									<div class="addtocard-readmore">
																					<div class="item-readmore">
												<a class="button1" href="/virtuemart/categories-layout/product-items-three-columns/huka-laze-xitun-detail.html" target="_self">
													View												</a>                                
											</div> 
																			
										
										<div class="addtocart-area">
											<form method="post" class="product js-recalculate" action="/">
																						
												<div class="addtocart-bar">
										
																																									<span class="addtocart-button">
															<input type="submit" name="addtocart" class="addtocart-button" rel="nofollow" value="Add to Cart" title="Add to Cart">														</span>
													
																							
													<div class="clear"></div>
												</div>
																								 
												<input type="hidden" name="quantity[]" value="1">
												<input type="hidden" class="pname" value="Huka laze xitun">
												<input type="hidden" name="option" value="com_virtuemart">
												<input type="hidden" name="view" value="cart">
												<noscript>&lt;input type="hidden" name="task" value="add"/&gt;</noscript>
												<input type="hidden" name="virtuemart_product_id[]" value="21">
											</form>
										
											<div class="clear"></div>
										</div><!--end add to card-->
									
									
									</div>
								</div>
														</div>
												</div>
				    </div>                
                 
                		    		
            	                                  
                
				    <div class="item-wrap style2 last ">
						<div class="item-wrap-inner">
							<div class="item-image">
								<a href="/virtuemart/categories-layout/product-items-three-columns/dako-case-mite-detail.html">
									<span class="item-image">
										<span class="border-img"></span>
										<span class="zoom-img"></span>
										<img src="/cache/mod_sj_vm_extraslider_res/9f23b53395eedb6b597b37c8ddb334d9.jpeg" alt="Dako case mite" title="Dako case mite">
									</span>
								</a>
							</div>
													<div class="item-info">
															<div class="item-title">
									<a href="/virtuemart/categories-layout/product-items-three-columns/dako-case-mite-detail.html">
										Dako case mite									</a>
								</div>
																						<div class="item-content">
																			<div class="item-description">
											Kute faucibus eu laoreet nunc. Tincidunt nulla a Nulla eu convallis scelerisque ...                                
										</div>
																		
																					<div class="item-price">
												<div class="PricesalesPrice">
													Price: <div class="PricesalesPrice" style="display : block;"><span class="PricesalesPrice">99,22 €</span></div>												</div>
											</div>
										                             
									
									<div class="addtocard-readmore">
																					<div class="item-readmore">
												<a class="button1" href="/virtuemart/categories-layout/product-items-three-columns/dako-case-mite-detail.html" target="_self">
													View												</a>                                
											</div> 
																			
										
										<div class="addtocart-area">
											<form method="post" class="product js-recalculate" action="/">
																						
												<div class="addtocart-bar">
										
																																									<span class="addtocart-button">
															<input type="submit" name="addtocart" class="addtocart-button" rel="nofollow" value="Add to Cart" title="Add to Cart">														</span>
													
																							
													<div class="clear"></div>
												</div>
																								 
												<input type="hidden" name="quantity[]" value="1">
												<input type="hidden" class="pname" value="Dako case mite">
												<input type="hidden" name="option" value="com_virtuemart">
												<input type="hidden" name="view" value="cart">
												<noscript>&lt;input type="hidden" name="task" value="add"/&gt;</noscript>
												<input type="hidden" name="virtuemart_product_id[]" value="22">
											</form>
										
											<div class="clear"></div>
										</div><!--end add to card-->
									
									
									</div>
								</div>
														</div>
												</div>
				    </div>                
                 
                    
                </div><!--line-->
                		    		
                
            </div><!--end item--> 
            	                            <div class="item active">
                                            <div class="line">
                  
                
				    <div class="item-wrap style2 ">
						<div class="item-wrap-inner">
							<div class="item-image">
								<a href="/virtuemart/categories-layout/product-items-three-columns/dika-laze-xako-detail.html">
									<span class="item-image">
										<span class="border-img"></span>
										<span class="zoom-img"></span>
										<img src="/cache/mod_sj_vm_extraslider_res/a90723669f49ad926d49ca3d1a9d80da.jpeg" alt="Dika laze xako" title="Dika laze xako">
									</span>
								</a>
							</div>
													<div class="item-info">
															<div class="item-title">
									<a href="/virtuemart/categories-layout/product-items-three-columns/dika-laze-xako-detail.html">
										Dika laze xako									</a>
								</div>
																						<div class="item-content">
																			<div class="item-description">
											Zuka pharetra faucibus eu laoreet nunc. Tincidunt nulla a Nulla eu convallis ...                                
										</div>
																		
																					<div class="item-price">
												<div class="PricesalesPrice">
													Price: <div class="PricesalesPrice" style="display : block;"><span class="PricesalesPrice">101,64 €</span></div>												</div>
											</div>
										                             
									
									<div class="addtocard-readmore">
																					<div class="item-readmore">
												<a class="button1" href="/virtuemart/categories-layout/product-items-three-columns/dika-laze-xako-detail.html" target="_self">
													View												</a>                                
											</div> 
																			
										
										<div class="addtocart-area">
											<form method="post" class="product js-recalculate" action="/">
																						
												<div class="addtocart-bar">
										
																																									<span class="addtocart-button">
															<input type="submit" name="addtocart" class="addtocart-button" rel="nofollow" value="Add to Cart" title="Add to Cart">														</span>
													
																							
													<div class="clear"></div>
												</div>
																								 
												<input type="hidden" name="quantity[]" value="1">
												<input type="hidden" class="pname" value="Dika laze xako">
												<input type="hidden" name="option" value="com_virtuemart">
												<input type="hidden" name="view" value="cart">
												<noscript>&lt;input type="hidden" name="task" value="add"/&gt;</noscript>
												<input type="hidden" name="virtuemart_product_id[]" value="23">
											</form>
										
											<div class="clear"></div>
										</div><!--end add to card-->
									
									
									</div>
								</div>
														</div>
												</div>
				    </div>                
                 
                		    		
            	                                  
                
				    <div class="item-wrap style2 ">
						<div class="item-wrap-inner">
							<div class="item-image">
								<a href="/virtuemart/categories-layout/product-items-three-columns/fika-lase-capo-detail.html">
									<span class="item-image">
										<span class="border-img"></span>
										<span class="zoom-img"></span>
										<img src="/cache/mod_sj_vm_extraslider_res/8ca61827376b96f50baea1589d712057.jpeg" alt="Fika lase capo" title="Fika lase capo">
									</span>
								</a>
							</div>
													<div class="item-info">
															<div class="item-title">
									<a href="/virtuemart/categories-layout/product-items-three-columns/fika-lase-capo-detail.html">
										Fika lase capo									</a>
								</div>
																						<div class="item-content">
																			<div class="item-description">
											Dretium at tristique hac ullamcorper adipiscing et Donec. Enim montes ...                                
										</div>
																		
																					<div class="item-price">
												<div class="PricesalesPrice">
													Price: <div class="PricesalesPrice" style="display : block;"><span class="PricesalesPrice">98,01 €</span></div>												</div>
											</div>
										                             
									
									<div class="addtocard-readmore">
																					<div class="item-readmore">
												<a class="button1" href="/virtuemart/categories-layout/product-items-three-columns/fika-lase-capo-detail.html" target="_self">
													View												</a>                                
											</div> 
																			
										
										<div class="addtocart-area">
											<form method="post" class="product js-recalculate" action="/">
																						
												<div class="addtocart-bar">
										
																																									<span class="addtocart-button">
															<input type="submit" name="addtocart" class="addtocart-button" rel="nofollow" value="Add to Cart" title="Add to Cart">														</span>
													
																							
													<div class="clear"></div>
												</div>
																								 
												<input type="hidden" name="quantity[]" value="1">
												<input type="hidden" class="pname" value="Fika lase capo">
												<input type="hidden" name="option" value="com_virtuemart">
												<input type="hidden" name="view" value="cart">
												<noscript>&lt;input type="hidden" name="task" value="add"/&gt;</noscript>
												<input type="hidden" name="virtuemart_product_id[]" value="24">
											</form>
										
											<div class="clear"></div>
										</div><!--end add to card-->
									
									
									</div>
								</div>
														</div>
												</div>
				    </div>                
                 
                		    		
            	                                  
                
				    <div class="item-wrap style2 last ">
						<div class="item-wrap-inner">
							<div class="item-image">
								<a href="/virtuemart/categories-layout/product-items-three-columns/laze-case-poka-detail.html">
									<span class="item-image">
										<span class="border-img"></span>
										<span class="zoom-img"></span>
										<img src="/cache/mod_sj_vm_extraslider_res/5f29cfe729f9d26ddd7e103c8f2db4af.jpeg" alt="Laze case poka" title="Laze case poka">
									</span>
								</a>
							</div>
													<div class="item-info">
															<div class="item-title">
									<a href="/virtuemart/categories-layout/product-items-three-columns/laze-case-poka-detail.html">
										Laze case poka									</a>
								</div>
																						<div class="item-content">
																			<div class="item-description">
											Faucibus eu laoreet nunc. Tincidunt nulla a Nulla eu convallis scelerisque ...                                
										</div>
																		
																					<div class="item-price">
												<div class="PricesalesPrice">
													Price: <div class="PricesalesPrice" style="display : block;"><span class="PricesalesPrice">118,58 €</span></div>												</div>
											</div>
										                             
									
									<div class="addtocard-readmore">
																					<div class="item-readmore">
												<a class="button1" href="/virtuemart/categories-layout/product-items-three-columns/laze-case-poka-detail.html" target="_self">
													View												</a>                                
											</div> 
																			
										
										<div class="addtocart-area">
											<form method="post" class="product js-recalculate" action="/">
																						
												<div class="addtocart-bar">
										
																																									<span class="addtocart-button">
															<input type="submit" name="addtocart" class="addtocart-button" rel="nofollow" value="Add to Cart" title="Add to Cart">														</span>
													
																							
													<div class="clear"></div>
												</div>
																								 
												<input type="hidden" name="quantity[]" value="1">
												<input type="hidden" class="pname" value="Laze case poka">
												<input type="hidden" name="option" value="com_virtuemart">
												<input type="hidden" name="view" value="cart">
												<noscript>&lt;input type="hidden" name="task" value="add"/&gt;</noscript>
												<input type="hidden" name="virtuemart_product_id[]" value="25">
											</form>
										
											<div class="clear"></div>
										</div><!--end add to card-->
									
									
									</div>
								</div>
														</div>
												</div>
				    </div>                
                 
                    
                </div><!--line-->
                		    		
                
            </div><!--end item--> 
            	    	    </div><!--end extraslider-inner -->
	    	    
		    </div>

<script>
//<![CDATA[    					
	jQuery(function($){
		$('#sjextraslider_10956147921387726620').each(function(){
			var $this = $(this), options = options = !$this.data('modal') && $.extend({}, $this.data());
			$this.jcarousel(options);
			$this.bind('jslide', function(e){
				var index = $(this).find(e.relatedTarget).index();

				// process for nav
				$('[data-jslide]').each(function(){
					var $nav = $(this), $navData = $nav.data(), href, $target = $($nav.attr('data-target') || (href = $nav.attr('href')) && href.replace(/.*(?=#[^\s]+$)/, ''));
					if ( !$target.is($this) ) return;
					if (typeof $navData.jslide == 'number' && $navData.jslide==index){
						$nav.addClass('sel');
					} else {
						$nav.removeClass('sel');
					}
				});
			});
		});
		return ;
	});
//]]>	
</script>



	    </div>
		
	   
	</div>
        	<div class="module free-shipping blank">
	    
	    			<!--<div class="wrap-title">-->
				<h3 class="modtitle">Free Shipping</h3>
			<!--</div>-->
	    	    <div class="modcontent clearfix">
		

on orders over $99. This offer is valid on all our store items
	    </div>
		
	   
	</div>
        	<div class="module new-cakes star">
	    
	    			<!--<div class="wrap-title">-->
				<h3 class="modtitle">New Cakes</h3>
			<!--</div>-->
	    	    <div class="modcontent clearfix">
		

	<div id="yt-virtue-mod-211">
	    		    <div class="yt-virtuemart">
			         <div class="yt-vm-content">
		<div class="vm-content-inner">
				 <div class="vm-row">	
		 
        	<div class="yt-item yt-first vm-item">
				<div class="yt-main-content">
					
					<!-- For Item Image-->
										<div class="yt-item-image" style="width:225px; height:145px; overflow:hidden;">
														<a href="/paris-gateaux/paase-dita-maze-detail.html" title="Pase dita maze">
									<img src="/cache/mod_sj_virtuemart/59bfacab51d335a4d372b616e6ae4469.jpeg" alt="Pase dita maze" title="Pase dita maze">
								</a>
												</div>
										
										<div class="yt-item-title">
														<a href="/paris-gateaux/paase-dita-maze-detail.html" title="Pase dita maze">
									Pase dita maze								</a>
											</div>
										
					<div class="price-rating">
						<!-- For Item Price-->
													<div class="sj_item_prices">
							<div class="PricesalesPrice" style="display : block;">Price: <span class="PricesalesPrice">90,75 €</span></div>							</div>
												
															<span class="vote">
										<span title=" Rating: 3/5" class="ratingbox" style="display:inline-block;">
											<span class="stars-orange" style="width:39px"></span>
										</span>
										<span class="vote-number">
																						( 3 Votes)										</span>
									</span>
														
					</div>
					<!-- For Item Description-->
										<div class="yt-item-desc">
					  Pake chika ante gravida eros quis justo sed nonummy et Donec et. Hendrerit velit orci sagittis eu Aenean pharetra faucibus eu laoreet nunc. Tincidunt nulla a Nulla eu convallis scelerisque sociis ...					</div>
										<!-- For Item Readmore-->
										<div class="yt-item-readmore">
						<a class="button1" href="/paris-gateaux/paase-dita-maze-detail.html" title="Pase dita maze">
							View						</a>
						
						
						
						
						<div class="addtocart-area">
							<form method="post" class="product js-recalculate" action="/">
														
								<div class="addtocart-bar">
						
																													<span class="addtocart-button">
											<input type="submit" name="addtocart" class="addtocart-button" rel="nofollow" value="Add to Cart" title="Add to Cart">										</span>
									
															
									<div class="clear"></div>
								</div>
																 
								<input type="hidden" name="quantity[]" value="1">
								<input type="hidden" class="pname" value="Pase dita maze">
								<input type="hidden" name="option" value="com_virtuemart">
								<input type="hidden" name="view" value="cart">
								<noscript>&lt;input type="hidden" name="task" value="add"/&gt;</noscript>
								<input type="hidden" name="virtuemart_product_id[]" value="80">
							</form>
						
							<div class="clear"></div>
						</div><!--end add to card-->
						
						
						
					</div>
									</div>
               </div>
               				<div class="clear"></div>
				</div>
			          		 <div class="vm-row">	
		 
        	<div class="yt-item yt-first vm-item">
				<div class="yt-main-content">
					
					<!-- For Item Image-->
										<div class="yt-item-image" style="width:225px; height:145px; overflow:hidden;">
														<a href="/paris-gateaux/makin-face-zite-detail.html" title="Makin face zite">
									<img src="/cache/mod_sj_virtuemart/d985429fc270b23a432fb21ce4e6c529.jpeg" alt="Makin face zite" title="Makin face zite">
								</a>
												</div>
										
										<div class="yt-item-title">
														<a href="/paris-gateaux/makin-face-zite-detail.html" title="Makin face zite">
									Makin face zite								</a>
											</div>
										
					<div class="price-rating">
						<!-- For Item Price-->
													<div class="sj_item_prices">
							<div class="PricesalesPrice" style="display : block;">Price: <span class="PricesalesPrice">101,64 €</span></div>							</div>
												
															<span class="vote">
										<span title=" Rating: 5/5" class="ratingbox" style="display:inline-block;">
											<span class="stars-orange" style="width:65px"></span>
										</span>
										<span class="vote-number">
																						( 5 Votes)										</span>
									</span>
														
					</div>
					<!-- For Item Description-->
										<div class="yt-item-desc">
					  Nace dasen ravida eros quis justo sed nonummy et Donec et. Hendrerit velit orci sagittis eu Aenean pharetra faucibus eu laoreet nunc. Tincidunt nulla a Nulla eu convallis scelerisque sociis nulla ...					</div>
										<!-- For Item Readmore-->
										<div class="yt-item-readmore">
						<a class="button1" href="/paris-gateaux/makin-face-zite-detail.html" title="Makin face zite">
							View						</a>
						
						
						
						
						<div class="addtocart-area">
							<form method="post" class="product js-recalculate" action="/">
														
								<div class="addtocart-bar">
						
																													<span class="addtocart-button">
											<input type="submit" name="addtocart" class="addtocart-button" rel="nofollow" value="Add to Cart" title="Add to Cart">										</span>
									
															
									<div class="clear"></div>
								</div>
																 
								<input type="hidden" name="quantity[]" value="1">
								<input type="hidden" class="pname" value="Makin face zite">
								<input type="hidden" name="option" value="com_virtuemart">
								<input type="hidden" name="view" value="cart">
								<noscript>&lt;input type="hidden" name="task" value="add"/&gt;</noscript>
								<input type="hidden" name="virtuemart_product_id[]" value="81">
							</form>
						
							<div class="clear"></div>
						</div><!--end add to card-->
						
						
						
					</div>
									</div>
               </div>
               				<div class="clear"></div>
				</div>
			          		 <div class="vm-row">	
		 
        	<div class="yt-item yt-first vm-item">
				<div class="yt-main-content">
					
					<!-- For Item Image-->
										<div class="yt-item-image" style="width:225px; height:145px; overflow:hidden;">
														<a href="/paris-gateaux/nase-ritas-dace-detail.html" title="Nase ritas dace">
									<img src="/cache/mod_sj_virtuemart/4e62972e83fc0ec9fe5bce9acc094280.jpeg" alt="Nase ritas dace" title="Nase ritas dace">
								</a>
												</div>
										
										<div class="yt-item-title">
														<a href="/paris-gateaux/nase-ritas-dace-detail.html" title="Nase ritas dace">
									Nase ritas dace								</a>
											</div>
										
					<div class="price-rating">
						<!-- For Item Price-->
													<div class="sj_item_prices">
							<div class="PricesalesPrice" style="display : block;">Price: <span class="PricesalesPrice">77,44 €</span></div>							</div>
												
															<span class="vote">
										<span title=" Rating: 4/5" class="ratingbox" style="display:inline-block;">
											<span class="stars-orange" style="width:52px"></span>
										</span>
										<span class="vote-number">
																						( 4 Votes)										</span>
									</span>
														
					</div>
					<!-- For Item Description-->
										<div class="yt-item-desc">
					  Netim vace ante gravida eros quis justo sed nonummy et Donec et. Hendrerit velit orci sagittis eu Aenean pharetra faucibus eu laoreet nunc. Tincidunt nulla a Nulla eu convallis scelerisque sociis ...					</div>
										<!-- For Item Readmore-->
										<div class="yt-item-readmore">
						<a class="button1" href="/paris-gateaux/nase-ritas-dace-detail.html" title="Nase ritas dace">
							View						</a>
						
						
						
						
						<div class="addtocart-area">
							<form method="post" class="product js-recalculate" action="/">
														
								<div class="addtocart-bar">
						
																													<span class="addtocart-button">
											<input type="submit" name="addtocart" class="addtocart-button" rel="nofollow" value="Add to Cart" title="Add to Cart">										</span>
									
															
									<div class="clear"></div>
								</div>
																 
								<input type="hidden" name="quantity[]" value="1">
								<input type="hidden" class="pname" value="Nase ritas dace">
								<input type="hidden" name="option" value="com_virtuemart">
								<input type="hidden" name="view" value="cart">
								<noscript>&lt;input type="hidden" name="task" value="add"/&gt;</noscript>
								<input type="hidden" name="virtuemart_product_id[]" value="82">
							</form>
						
							<div class="clear"></div>
						</div><!--end add to card-->
						
						
						
					</div>
									</div>
               </div>
               				<div class="clear"></div>
				</div>
			          		 <div class="vm-row">	
		 
        	<div class="yt-item yt-last vm-item">
				<div class="yt-main-content">
					
					<!-- For Item Image-->
										<div class="yt-item-image" style="width:225px; height:145px; overflow:hidden;">
														<a href="/paris-gateaux/nite-rika-jase-detail.html" title="Nite rika jase">
									<img src="/cache/mod_sj_virtuemart/d4b3cdb175a9275d087112010f29279e.jpeg" alt="Nite rika jase" title="Nite rika jase">
								</a>
												</div>
										
										<div class="yt-item-title">
														<a href="/paris-gateaux/nite-rika-jase-detail.html" title="Nite rika jase">
									Nite rika jase								</a>
											</div>
										
					<div class="price-rating">
						<!-- For Item Price-->
													<div class="sj_item_prices">
							<div class="PricesalesPrice" style="display : block;">Price: <span class="PricesalesPrice">102,85 €</span></div>							</div>
												
															<span class="vote">
										<span title=" Rating: 3/5" class="ratingbox" style="display:inline-block;">
											<span class="stars-orange" style="width:39px"></span>
										</span>
										<span class="vote-number">
																						( 3 Votes)										</span>
									</span>
														
					</div>
					<!-- For Item Description-->
										<div class="yt-item-desc">
					  Kate race ante gravida eros quis justo sed nonummy et Donec et. Hendrerit velit orci sagittis eu Aenean pharetra faucibus eu laoreet nunc. Tincidunt nulla a Nulla eu convallis scelerisque sociis ...					</div>
										<!-- For Item Readmore-->
										<div class="yt-item-readmore">
						<a class="button1" href="/paris-gateaux/nite-rika-jase-detail.html" title="Nite rika jase">
							View						</a>
						
						
						
						
						<div class="addtocart-area">
							<form method="post" class="product js-recalculate" action="/">
														
								<div class="addtocart-bar">
						
																													<span class="addtocart-button">
											<input type="submit" name="addtocart" class="addtocart-button" rel="nofollow" value="Add to Cart" title="Add to Cart">										</span>
									
															
									<div class="clear"></div>
								</div>
																 
								<input type="hidden" name="quantity[]" value="1">
								<input type="hidden" class="pname" value="Nite rika jase">
								<input type="hidden" name="option" value="com_virtuemart">
								<input type="hidden" name="view" value="cart">
								<noscript>&lt;input type="hidden" name="task" value="add"/&gt;</noscript>
								<input type="hidden" name="virtuemart_product_id[]" value="83">
							</form>
						
							<div class="clear"></div>
						</div><!--end add to card-->
						
						
						
					</div>
									</div>
               </div>
               				<div class="clear"></div>
				</div>
			                  <div class="clear"></div>
	  </div>
	    <div class="clear"></div>
   </div>		    </div>
			
	</div>
	    </div>
		
	   
	</div>
    
			<!--</div>-->
		</div>
		             	<span style="display:none">Hide Main content block</span>
             </div></div> 	